<div *ngFor="let zone of zones" class="myzone">
    <div class="row">
        <div class="col-sm-6">
            <h3>{{zone.name}} - {{zone.state}}</h3>
        </div>
        <div class="col-sm-6">
            <button class="float-right" mat-raised-button>Remove</button>
            <button class="float-right mr-2" mat-raised-button>Hide</button>
        </div>
    </div>
    <ng-template [ngIf]="!zone">
        <h3 class="alert alert-success">No alerts.</h3>
    </ng-template>
    <app-view-zone-alerts [zoneId]="zone.id"></app-view-zone-alerts>
</div>