<div class="panel panel-primary">
  <div class="panel-body">
    <form [formGroup]="form" (ngSubmit)="submit()" class='form-basic'>
      <h3 class="text-center">Please register</h3>
      <div>
        <input type="email" name="email" formControlName="email" class="form-control"
          placeholder="Email address" />
          @if (isControlInvalid(emailControl)) {
            <div class="alert alert-danger">Email address is required</div>
          }
          @if (isControlInvalid(emailControl, 'email')) {
            <div class="alert alert-danger">Invalid email address
            </div>
          }
        </div>
        <div>
          <input type="password" name="password" formControlName="password" class="form-control"
            placeholder="Password" />
            @if (isControlInvalid(passwordControl)) {
              <div class="alert alert-danger">Password is required</div>
            }
          </div>
          <div>
            <input type="password" name="passwordConfirm" formControlName="confirmPassword" class="form-control"
              placeholder="Confirm password" />
              @if (isControlInvalid(confirmPasswordControl)) {
                <div class="alert alert-danger">Confirm password is
                required</div>
              }
              @if (isControlInvalid(form, 'password')) {
                <div class="alert alert-danger">Passwords do not match</div>
              }
            </div>
            @if (registrationSuccessful) {
              <div class="alert alert-info">Registration succesful! Please <a
              [routerLink]="['/auth/login']">Login</a></div>
            }
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
            @if (unableToRegister) {
              <div class="alert alert-danger">Unable to register</div>
            }
            <!-- <div class="alert alert-danger" *ngIf="passwordTooShort">Password is too short</div>
            <div class="alert alert-danger" *ngIf="passwordRequiresNonAlphanumeric">Password requires non alphanumeric character</div>
            <div class="alert alert-danger" *ngIf="passwordRequiresDigit">Password requires a digit</div>
            <div class="alert alert-danger" *ngIf="passwordRequiresUpper">Password requires an upper case character</div> -->
          </form>
        </div>
      </div>