<!-- <p>{{user | async | json}}</p> -->
<div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column">
        <div align="center">
            <h1>Welcome to Weather Alerts!</h1>
        </div>
        <div>
            <p>
                Weather Alerts is a basic application to view the National Weather Service's active list of alerts.
                You can also save zones by your county and view alerts for your area.
            </p>
        </div>
        <div>
            <p>
                This application was built to use the National Weather Service's free
                <a href="https://www.weather.gov/documentation/services-web-api">API</a>
            </p>
            <p>To view all active alerts, click <a routerLink="alerts">here</a>. To lookup and save zones, register an account.</p>
        </div>
    </div>
</div>